.icon-weixin{
  color: #3bab54;
}
.weui-media-box__title,
.weui-media-box__desc,
.weui-article h1,
.weui-article p,
.weui-cell__bd p,
.weui-grid__label,
.weui-cell__ft{
  font-size: 12px;
}
.dplayer{
  height: 230px;
}
.ep-playing{
    background-color: #dae1e6;
}
.about{
  text-align: center;
  font-size: 12px;
  color: #7b7575;
}
.about h4{
  margin: 40px auto 20px;
}
.about .logo{
  margin: 20px auto;
  width: 100px;
}
.about .logo img{
  width: 80px;
  box-shadow: 0 0px 8px 0px #b1a2a2;
}