<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="wx" stopProcessing="true">
          <match url="^wx.php$" />
          <action type="Rewrite" url="/wx.php" />
        </rule>
        <rule name="about" stopProcessing="true">
          <match url="^about$" />
          <action type="Rewrite" url="/about.html" />
        </rule>
        <rule name="playep" stopProcessing="true">
          <match url="^p/(.+)/(.+)$" />
          <action type="Rewrite" url="/index.php?mo={R:1}&amp;ep={R:2}" />
        </rule>
        <rule name="play" stopProcessing="true">
          <match url="^p/(.+)$" />
          <action type="Rewrite" url="/index.php?mo={R:1}" />
        </rule>
        <rule name="report" stopProcessing="true">
          <match url="^r/([a-z_]+)/([0-9a-zA-Z_]+)/([0-9a-zA-Z_]+)/(.+)$" />
          <action type="Rewrite" url="/report.php?type={R:1}&amp;mid={R:2}&amp;epid={R:3}&amp;content={R:4}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer> 
</configuration>